body {
    background: lightgrey;
    margin: 0;
}

div{
    box-sizing: border-box;
}

.fa-solid fa-ellipsis-vertical {
    background-color: black;
}

.fa-brands fa-html5 {
    padding: 10px;
}

.post-icons {
    padding: 10px;
}

header {
    background: white;
    padding: 10px;
}

header h1 {
    margin: 0;
}

div.post {
    background: white;
    margin-top: 10px;
}

div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}

div.post img{
    width: 100%;
}


div.container {
    width: 500px;
    margin: auto;
}

div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: black;
}

.post-header h2 i {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-right: 5px;
}

.post-header h2 p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin-left: 5px;
}